@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p style="color:#3e6586;font-size:25px;"> While most travel websites rely on visuals to make it obvious the type of website they are, beyond attractive imagery you will usually also need to provide some information about your photos. Promoting trips to Australia with amazing photos is all well and good, but without written recommendations your website readers might struggle to take value away from your site.</p>
