@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
    <p style="color:#3e6586;font-size:25px;">Every day, diverse users and business owners use Yelp to meet a variety of needs. If we don’t have a commensurately diverse workforce designing features and partnering with local business owners, we can’t achieve our mission. That’s why we’re committed to increasing diversity and transparency at all levels of our organization. ​​​​​​​</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>