@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        .continerphoto {
            padding: 20px;
        }

        .continersss {
            width: 100%;
        }

        .show1 {
        }

        .show {
            float: left;
            margin-top: 10px;
            width: 400px;
            height: 410px;
        }

        .row {
            margin-top: 50px;
        }

        .text {
            margin-left: 5px;
            font-size: 20px;
        }

        body {
            padding: 0px;
            margin: 0px;
            left: 0;
            right: 0;
            width: 100%;
        }

        .photo {
            float: left;
            padding: 30px;
        }
    </style>
</head>
<div class="continersss">
    @*<div class="show">
            <h1>Welcome to Trival Site</h1>
            <div style="width:350px;height:auto;">
                <p class="text"> Here you can get the best line travel and also best bus and you can take all your rest in our sevice</p>
                <img src="~/Content/images/1911.png" width="370px" height="237px;" />
            </div>
            <br />
            <br />

        </div>*@
    <div class="show1">
        <img src="~/Content/images/bus.jpg" width="100%" height="410px" />
    </div>
</div>



<div class="row">
    <div class="col-md-4">
        <img src="~/Content/images/good.jpg" width="70px" height="70px"><span style="font-size:30px">Flying Privileges</span>
        <p style="font-size:15px;">
            Flying Privileges
            We provide you services and privileges for personal or cooperative use at the best prices and high quality.

        </p>

    </div>
    <div class="col-md-4">
        <img src="~/Content/images/tickt.jpg" width="70px" height="70px"><span style="font-size:30px">Ticket service </span>
        <p style="font-size:15px;">
            No matter where you intend to travel to, through our ticketing agents, you can easily get affordable airline tickets.
        </p>
    </div>

    <div class="col-md-4">
        <img src="~/Content/images/rest.jpg" width="70px" height="70px"><span style="font-size:30px">Leisure Travel</span>
        <p style="font-size:15px;">
            Leisure Travel
            To avoid poorly planned trips? Your travel partner will make sure you don't suffer from this trip.
        </p>

    </div>
</div>
<div class="continerphoto">
    <div class="photo" style="float:left">
        <img src="~/Content/images/f.jpg" width="300px" height="230px" />
    </div>
    <div class="photo">
        <img src="~/Content/images/f2.jpg" width="300px" height="230px" />
    </div>
    <div class="photo">
        <img src="~/Content/images/f3.jpg" width="300px" height="230px" />
    </div>
    <div class="photo" style="float:left">
        <img src="~/Content/images/f4.jpg" width="300px" height="230px" />
    </div>
    <div class="photo">
        <img src="~/Content/images/f5.jpg" width="300px" height="230px" />
    </div>
    <div class="photo">
        <img src="~/Content/images/f6.jpg" width="300px" height="230px" />
    </div>
</div>

